.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.Footer {
    margin-top: auto;
}

.test {
    margin-left: .75rem;
    margin-right: .75rem;
    width: 98%;
}

.LogoFont {
    font-family: "Borel", cursive;
    font-weight: 400;
    font-style: normal;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}


.tag-line {

    font-family:  "Lato", sans-serif;
    font-weight: 900;
    font-size: 100;
    line-height: 1.5;
    font-style: normal;

}
.nav-color{
 
    background-color: #b6a086;
}